<!DOCTYPE html>
<html lang="en">
<head>
	<title>Goodsmile</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	<style type="text/css">

		.simplesentence{font-size: 20pt;text-align: center;}

	</style>
</head>
<body class="animsition">

<!-- Header -->
<header class="header1">
	<!-- Header desktop -->
	<div class="container-menu-header">
		<div class="topbar">

			<span class="topbar-child1">
					Welcome to Goodsmile!
				</span>

			<div class="topbar-child2">
					<span class="topbar-child1">
						Shipping Worldwide!
					</span>

				<div class="topbar-language rs1-select2">
					<select class="selection-1" name="time">
						<option>USD</option>
						<option>EUR</option>
					</select>
				</div>
			</div>
		</div>

		<div class="wrap_header">
			<!-- Logo -->
			<a href="/" class="logo">
				<img src="images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Menu -->
			<div class="wrap_menu">
				<nav class="menu">
					<ul class="main_menu">
						<li>
							<a href="/">Home</a>
						</li>

						<li>
							<a href="/product">Shop</a>
							<ul class="sub_menu">
								<li><a href="product">Show all</a></li>
								<li><a href="product">Artist</a></li>
								<li><a href="product">Sale</a></li>
							</ul>
						</li>

						<li class="sale-noti">
							<a href="/product">Sale</a>
						</li>

						<li>
							<a href="/about">About</a>
							<ul class="sub_menu">
								<li><a href="about">Our Story</a></li>
								<li><a href="contact">Contact Us</a></li>
							</ul>
						</li>

						<li>
							<a href="/contact">Contact Us</a>
						</li>
					</ul>
				</nav>
			</div>

			<!-- Header Icon -->
			<div class="header-icons">
				<li>
					<img src="images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					<ul class="sub_menu">
						<% if (login_success) { %>
						<% if (user.auth == 0){ %>
						<li><a href="/administrator">Administrator</a></li>
						<% } %>
						<li><a>Welcome <%= user.name %>!</a></li>
						<li></li>
						<li><a href="/myorder">My Order</a></li>
						<li><a href="/profile">View Profile</a></li>
						<li><a href="/logout">Sign Out</a></li>
						<% } else { %>
						<li><a href="/login">Sign In</a></li>
						<li><a href="/signup">Sign Up</a></li>
						<li><a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Sign In with Facebook</a></li>
						<li><a href="/auth/twitter" class="btn btn-primary"><span class="fa fa-twitter"></span> Sign In with Twitter</a></li>
						<% } %>
					</ul>
				</li>

				<span class="linedivide1"></span>

				<div class="header-wrapicon2">
					<img src="images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
					<% if (login_success) { %>
					<span class="header-icons-noti"><%=cart.length%></span>

					<!-- Header cart noti -->
					<div class="header-cart header-dropdown">
						<ul class="header-cart-wrapitem">
							<%
								var total = 0;
							for(var i=0;i<cart.length;i++){
							%>
							<li class="header-cart-item">
								<div class="header-cart-item-img">
									<img src="/getimage/<%=cart[i].cart_id%>/1" alt="IMG">
								</div>

								<div class="header-cart-item-txt">
									<a href="/product-detail?pd_id=<%=cart[i].cart_id%>" class="header-cart-item-name"><%=cart[i].cart_name%></a>
									<a style="visibility: hidden" class="header-cart-item-id"><%=cart[i].cart_id%></a>

									<span class="header-cart-item-info">
											<%=cart[i].cart_num%> x $<%=cart[i].cart_price%>
										</span>
								</div>
							</li>
							<%
								total += cart[i].cart_num * cart[i].cart_price;
							}%>
						</ul>

						<div class="header-cart-total">
							Total: $<%=Math.round((total) * 100) / 100%>
						</div>

						<div class="header-cart-buttons">
							<div class="header-cart-wrapbtn">
								<!-- Button -->
								<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
									View Cart
								</a>
							</div>

							<div class="header-cart-wrapbtn">
								<!-- Button -->
								<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
									Check Out
								</a>
							</div>
						</div>
					</div>
					<%}%>
				</div>
			</div>
		</div>
	</div>

	<!-- Header Mobile -->
	<div class="wrap_header_mobile">
		<!-- Logo moblie -->
		<a href="/" class="logo-mobile">
			<img src="images/icons/logo.png" alt="IMG-LOGO">
		</a>

		<!-- Button show menu -->
		<div class="btn-show-menu">
			<!-- Header Icon mobile -->
			<div class="header-icons-mobile">
				<div class="header-wrapicon2">
					<img src="images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
					<% if (login_success) { %>
					<!-- Header cart noti -->
					<div class="header-cart header-dropdown">
						<ul class="header-cart-wrapitem">
							<li class="header-cart-item">
								<div class="header-cart-item-txt">
									<% if (user.auth == 0){ %>
									<a href="/administrator">Administrator</a><br><br>
									<% } %>
									<a>Welcome <%= user.name %>!</a><br><br><br>
									<a href="/myorder">My Order</a><br><br>
									<a href="/profile">View Profile</a><br><br>
									<a href="/logout">Sign Out</a>
								</div>
							</li>
						</ul>
					</div>
					<%}else{%>
					<div class="header-cart header-dropdown">
						<ul class="header-cart-wrapitem">
							<li class="header-cart-item">
								<div class="header-cart-item-txt">
								<a href="/login">Sign In</a><br><br>
								<a href="/signup">Sign Up</a><br><br>
								<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Sign In with Facebook</a><br><br>
								<a href="/auth/twitter" class="btn btn-primary"><span class="fa fa-twitter"></span> Sign In with Twitter</a>
								</div>
							</li>
						</ul>
					</div>
					<%}%>
				</div>

				<span class="linedivide2"></span>

				<div class="header-wrapicon2">
					<img src="images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
					<% if (login_success) { %>
					<span class="header-icons-noti"><%=cart.length%></span>

					<!-- Header cart noti -->
					<div class="header-cart header-dropdown">
						<ul class="header-cart-wrapitem">
							<%
								var total_m = 0;
							for(var i=0;i<cart.length;i++){
							%>
							<li class="header-cart-item">
								<div class="header-cart-item-img">
									<img src="/getimage/<%=cart[i].cart_id%>/1" alt="IMG">
								</div>

								<div class="header-cart-item-txt">
									<a href="/product-detail?pd_id=<%=cart[i].cart_id%>" class="header-cart-item-name"><%=cart[i].cart_name%></a>
									<a style="visibility: hidden" class="header-cart-item-id"><%=cart[i].cart_id%></a>

									<span class="header-cart-item-info">
											<%=cart[i].cart_num%> x $<%=cart[i].cart_price%>
										</span>
								</div>
							</li>
							<%
								total_m += cart[i].cart_num * cart[i].cart_price;
							}%>
						</ul>

						<div class="header-cart-total">
							Total: $<%=Math.round((total_m) * 100) / 100%>
						</div>

						<div class="header-cart-buttons">
							<div class="header-cart-wrapbtn">
								<!-- Button -->
								<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
									View Cart
								</a>
							</div>

							<div class="header-cart-wrapbtn">
								<!-- Button -->
								<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
									Check Out
								</a>
							</div>
						</div>
					</div>
					<%}%>
				</div>
			</div>

			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
			</div>
		</div>
	</div>

	<!-- Menu Mobile -->
	<div class="wrap-side-menu" >
		<nav class="side-menu">
			<ul class="main-menu">
				<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Welcome to Goodsmile!
						</span>
				</li>

				<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
					<div class="topbar-child2-mobile">
							<span class="topbar-email">
								Shipping Worldwide!
							</span>
					</div>
				</li>

				<li class="item-menu-mobile">
					<a href="/">Home</a>
					<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
				</li>

				<li class="item-menu-mobile">
					<a href="/product">Shop</a>
				</li>

				<li class="item-menu-mobile">
					<a href="/product">Sale</a>
				</li>

				<li class="item-menu-mobile">
					<a href="/cart">Features</a>
				</li>

				<li class="item-menu-mobile">
					<a href="/about">About</a>
				</li>

				<li class="item-menu-mobile">
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<!-- Slide1 -->
<section class="slide1">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1 item1-slick1" style="background-image: url(images/master-slide-02.jpg);">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="xl-text5 fs-20-sm " data-appear="fadeInDown">
							FAN MADE GOODS
						</span>

					<h2 class="xl-text4 fs-50-sm " data-appear="fadeInUp">
						goodsmile
					</h2>
					<br>
					<span class="m-text3_1 fs-10-sm" data-appear="fadeInDown">
							All the fan have a right to sell&buy the goods!
						</span>
					<br>
					<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
						<!-- Button -->
						<a href="/product" class="flex-c-m size4 bo-rad-23 s-text2 bg-yellow hov1 trans-0-4" >
							Shop Now
						</a>
					</div>
				</div>
			</div>
			<div class="item-slick1 item2-slick1" style="background-image: url(images/master-slide-09.jpg);" >
				<div class="wrap-content-slide1 sizefull flex-col-c-l p-l-15 p-r-15 p-t-150 p-b-170">
					<span class="xl-text6 fs-20-sm2"><strong>You Are </strong></span>
					<br>
					<span class="xl-text6 fs-20-sm2"><strong> My Galaxy</strong></span>

					<h2 class="xl-text4 fs-50-sm" data-appear="fadeInUp">

					</h2>
					<br>
					<span class="m-text3 fs-10-sm" data-appear="fadeInDown">

						</span>
					<br>
					<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
						<!-- Button -->
						<a href="/product" class="flex-c-m size4 bo-rad-23 s-text2 bg-yellow hov1 trans-0-4 m-l-160" >
							More Info >
						</a>
					</div>
				</div>
			</div>

			<div class="item-slick1 item3-slick1" style="background-image: url(images/master-slide-10.jpg);">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="xl-text7 color4" data-appear="fadeInDown" >
							Register as our seller !
						</span>

					<h2 class="title" data-appear="fadeInUp">

					</h2>
					<br>
					<span class="simpplesentence" data-appear="fadeInDown">

						</span>
					<br>
					<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
						<!-- Button -->
						<a href="/about" class="flex-c-m size4 bo-rad-23 s-text2 bg-yellow hov1 trans-0-4 color4" >
							More Info >
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<!-- Banner2 -->
<section class="banner2 bg5 p-t-55 p-b-55">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
				<div class="hov-img-zoom pos-relative">
					<img src="images/banner-08-02.jpg" alt="IMG-BANNER">

					<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<span class="m-text9 p-t-45 fs-20-sm">
								Artist
							</span>

						<h3 class="l-text1 fs-35-sm">
							Wanna One
						</h3>

						<a href="/product" class="s-text4 hov2 p-t-20 ">
							View all
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
				<div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm">
					<img src="images/banner-08.jpg" alt="IMG-BANNER">

					<div class="ab-t-l sizefull flex-col-c-b p-l-15 p-r-15 p-b-20">
						<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<span class="m-text9 p-t-45 fs-20-sm">
								Collaboration With
							</span>

							<h3 class="l-text1 fs-35-sm">
								K.K
							</h3>

							<a href="/product" class="s-text4 hov2 p-t-20 ">
								View all
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<!-- New Product -->
<section class="newproduct bgwhite p-t-45 p-b-105">
	<div class="container">
		<div class="sec-title p-b-60">
			<h3 class="m-text5 t-center">
				Featured Products
			</h3>
		</div>

		<!-- Slide2 -->
		<div class="wrap-slick2">
			<div class="slick2">
				<%for(var i=itemcount-1;i>=0;i--){
				if(goods[i].pd_viewFPd){
				%>
				<div class="item-slick2 p-l-15 p-r-15">
					<!-- Block2 -->
					<div class="block2">
						<%if(goods[i].pd_viewNew){%>
						<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
							<%}
							else if(goods[i].pd_viewSale){%>
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
								<%}
								else{%>
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%}%>
									<img src="/getimage/<%=goods[i].pd_id%>/1" alt="IMG-PRODUCT">
									<div class="block2-overlay trans-0-4">
										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Add to Cart
											</button>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/product-detail?pd_id=<%=goods[i].pd_id%>" class="block2-name dis-block s-text3 p-b-5" id="hhh"><%=goods[i].pd_name%></a>
									<a style="visibility: hidden" class="block2-id dis-block s-text3 p-b-5"><%=goods[i].pd_id%></a>

									<span class="block2-price m-text6 p-r-5">
									$<%=goods[i].pd_price%>
								</span>
								</div>
							</div>
						</div>
						<%}
						}%>
					</div>
				</div>

			</div>
</section>



<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
    <div class="flex-w p-b-90">
        <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                GET IN TOUCH
            </h4>
            <div>
                <p>Address: Sejong University 209 Neungdong-ro, Gunja-dong, Gwangjin-gu, Seoul</p>
                <br>
                <p>Email: goodsmile4ever@gmail.com</p>

            </div>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Categories
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href=/product class="s-text7">
                        Shop
                    </a>
                </li>

                <li class="p-b-9">
                    <a href=/product class="s-text7">
                        Artist
                    </a>
                </li>

                <li class="p-b-9">
                    <a href=/product class="s-text7">
                        Sale
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                About
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href=/about class="s-text7">
                        Our story
                    </a>
                </li>

                <li class="p-b-9">
                    <a href=/contact class="s-text7">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Help
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Track Order
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Returns
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Shipping
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        FAQs
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                Newsletter
            </h4>

            <form>
                <div class="effect1 w-size9">
                    <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                    <span class="effect1-line"></span>
                </div>

                <div class="w-size2 p-t-20">
                    <!-- Button -->
                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                        Subscribe
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="t-center p-l-15 p-r-15">
        <a href="#">
            <img class="h-size2" src="images/icons/paypal.png" alt="IMG-PAYPAL">
        </a>

        <a href="#">
            <img class="h-size2" src="images/icons/visa.png" alt="IMG-VISA">
        </a>

        <a href="#">
            <img class="h-size2" src="images/icons/mastercard.png" alt="IMG-MASTERCARD">
        </a>

        <a href="#">
            <img class="h-size2" src="images/icons/express.png" alt="IMG-EXPRESS">
        </a>

        <a href="#">
            <img class="h-size2" src="images/icons/discover.png" alt="IMG-DISCOVER">
        </a>

        <div class="t-center s-text8 p-t-20">
            Copyright © 2018 All rights reserved.
        </div>
    </div>
</footer>



<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>



<!--===============================================================================================-->
<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<script type="text/javascript">
    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });
</script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="js/slick-custom.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript">
    $('.header-cart-wrapbtn').on('click', function(){
		<%if(login_success){
		for(var i=0;i<cart.length;i++){%>
        $.post("/addorder", {
            pd_id: "<%=cart[i].cart_id%>",
            pd_name: "<%=cart[i].cart_name%>",
            pd_num: parseInt("<%=cart[i].cart_num%>"),
            pd_price: parseFloat("<%=cart[i].cart_price%>"),
            pd_weight: parseFloat("<%=cart[i].cart_weight%>"),
            isfirst: parseInt("<%=i==0?1:0%>")
        }, function(data, status){});
		<%}
		}%>
        window.location='/order'
    });

    $('.header-cart-item-img').each(function(){
        var idCart = $(this).parent().find('.header-cart-item-id').html();
        var nameCart = $(this).parent().find('.header-cart-item-name').html();
        $(this).on('click', function(){
            $.get("/delcart?pd_id="+idCart, function(data, status){
            });
            swal({
                title:nameCart,
                text:"is removed from cart",
                icon:"success",
                buttons:"OK"
            }).then(function(){
                location.reload();
            });
        });
    });
</script>
<script type="text/javascript">
    $('.block2-btn-addcart').each(function(){
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        var idProduct = $(this).parent().parent().parent().find('.block2-id').html();
        $(this).on('click', function(){
            $.get("/addcart?pd_id="+idProduct, function(data, status){
            });
			<%if(login_success==false){%>
            swal("Please Sign in!");
			<%}else{%>
            swal({
                title:nameProduct,
                text:"is added to cart",
                icon:"success",
                buttons:"OK"
            }).then(function(){
                location.reload();
            });
			<%}%>
        });
    });
</script>

<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>
